services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: prompt_backend
    env_file:
      - ./backend/.env
    environment:
      PORT: ${PORT}
      ENV: ${ENV}
    depends_on:
      - db
    ports:
      - '8080:8080'
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    container_name: prompt_frontend
    env_file:
      - ./frontend/.env
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
      PORT: ${FRONTEND_PORT}
      HOST: 0.0.0.0
    depends_on:
      - backend
    ports:
      - '3000:3000'
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    container_name: prompt_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - D:/Development/Docker/PostgresDB:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    networks:
      - app-network

networks:
  app-network:
    external: true