services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: prompt_backend
    env_file:
      - ./backend/.env
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: prompt_frontend
    depends_on:
      - backend
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    container_name: prompt_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - D:/Development/Docker/PostgresDB:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    external: true